:root {
  --navbar-height: 80px;
  --navy-blue: #05445E;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

nav {
  position: fixed;
  width: 100%;
  height: var(--navbar-height);
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 5px rgba(0,0,0,0.1);
  padding: 0 25px;
  background-color: white;
}

a {
  color: black;
  text-decoration: none;
  padding: 5px 0;
}

a:visited {
  color: black;
}

nav a:hover {
  border-bottom: 1px solid;
}

nav img {
  height: 60px;
  width: auto;
}

nav > ul {
  list-style-type: none;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  top: var(--navbar-height);
  right: 0;
  width: 30%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s ease-in, opacity 0.2s ease-in;
  background-color: white;
}

nav ul.show {
  visibility: visible;
  opacity: 1; 
}

ul li {
  height: 50px;
  line-height: 50px;
  margin: 10px;
  padding: 0 25px;
}

nav button {
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
}

main {
  position: relative;
  top: var(--navbar-height);
}

main > img {
  width: 100%;
  height: auto;
  opacity: .5;
}

main div {
  width: 90%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

h1 {
  margin: 0;
}

h1 > img {
  width: 100%;
}

p {
  width: 90%;
  margin: 0 auto;
}

main div > p {
  text-align: center;
  margin-bottom: 25px;
}

section {
  padding: 100px 0;
  position: relative;
  top: var(--navbar-height);
}

section h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 100px;
}

section p {
  line-height: 2rem;
}

section:nth-child(even) {
  color: white;
  background-color: var(--navy-blue);
}

article {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 100px;
  box-shadow: 3px 3px 30px rgba(0,0,0,0.1);
  border-radius: 15px;
  overflow: hidden;
}

article div.cover{
  width: 100%;
  margin: 0 auto;
}

article div.cover img {
  width: 100%;
}

article h3 {
  text-align: center;
  padding: 20px 0;
}
